.card {
  width: 330px;
  height: 430px;
  background: #D5DBDB;
  border-radius: 5px;
  text-align: center;
  color: #f0f0f0;
  font-family: inherit;
  z-index: 1;
  margin: 20px;

 }
 
 .cardImage {
  display: flex;
  margin: 60px auto 10px auto;
  width: 200px;
  height: 200px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: #152f50;
  margin-top: 10px
 }
 
 .cardDiets {
  opacity: 0;
  transition: all 0.5s;
 }
 
 .cardName {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
 }
 
 .cardHealthScore {
  padding: 0 5px;
  cursor: pointer;
 }
 
 .card:hover .cardImage {
  transform: scale(1.1);
  border: 1px solid #f0f0f0;
 }
 
 .card:hover .cardName,
 .card:hover .cardDiets {
  opacity: 1;
 }

 .cardHealthScore1{
  color: green;
 }

 .cardHealthScore2{
    color: yellow
 }

 .cardHealthScore3{
  color: red
}
 


/* .card {
    width: 330px;
    height: 430px;
    background: lightgrey;
    border: 3px inset white;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: all .5s ease-in-out;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #8a8989;
    margin:10px;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: all .5s ease-in-out;
  }

  
.cardImage{
    height: 230px;
    width:250px;
    border-radius: 10px;
}

.cardName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
} */
