.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}

.gifLoad{
    margin-top: 600px;
    width: 500px;
    height: 500px;
    background-color: transparent;
    background: transparent;
}