.contenedorHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contenedorSearch{
    display: flex;
    align-items: flex-start;
    height: 60px;
    margin-top: -20px;
    width: 98%;
}

.buttonRefresh{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: rgb(174, 191, 149 );
    color: #100f09;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px
}

.button:hover{
    background: black;
}

.inputSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: blue; */
    height: 60px;
    width: 900px;
    flex-direction: row;
}

.inputBar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #fff;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    border: none;
}

.inputBar::placeholder{
    color: rgba(122, 119, 119, 0.589);
}

.btnSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: rgb(174, 191, 149 );
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.receta{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-attachment: fixed;
}

.contenedorSelect{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    width: 900px;
}


.select1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 180px;
    background: rgb(61, 61, 61);
    color: #f3f3f3;
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 5px;
}

 .select2{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     width: 180px;
     background: rgb(61, 61, 61);
     color: #f3f3f3;
     font-family: 'Roboto';
     font-size: 18px;
     border-radius: 5px;
 }
 
 .select3{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     width: 180px;
     background: rgb(61, 61, 61);
     color: #f3f3f3;
     font-family: 'Roboto';
     font-size: 18px;
     border-radius: 5px;
 }

 .cardsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
 }

 .letraCreate{
    position: absolute;
    right: 20px;
    top: -15px;
    font-family: 'Roboto';
    color: #122027
 }

 .card1{
    margin: 10px;
 }

.button1{
 display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(174, 191, 149 );
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
    height: 45px;
    width: 48px; 
  
}

.paginado1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(174, 191, 149 );
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 40px;
    height: 45px;
    width: 48px;
   
}

.logoApi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.contenedorNav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140px;
    width: 100%;
    margin-top: -20px;
    background: #D5DBDB;
    
}

.containerSlider{
    width: 100%;
    margin: auto;
    margin-top: 3px;
    overflow: hidden;
}

.containerSlider ul{
    display:flex;
    width: 400%;
    padding: 0;
    animation: cambio 20s infinite alternate;
}

.containerSlider li{
    width: 100%;
    list-style: none;

}

.containerSlider img{
    width: 85%;
}

.containerInfo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D5DBDB;
    width: 100%;
    height: 90px;
    margin-bottom: -25px;
}

.linkedIn{
    height: 20px;
    margin:5px;
    margin-top: 33px;
}

.gitHub{
    height:20px;
    margin: 5px;
    margin-top: 33px;
}

.copyR{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: -30px;
}

@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% {margin-left: -200% }
    70% { margin-left: -200% }

    75% {margin-left: -300% }
    100% { margin-left: -300% }
}

@media screen and (max-width: 1200px){

    .inputSearch{
        width: 750px;
    }

    .contenedorSelect{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: -50px;
        height: 70px;
    }

    .select1{
        width: 200px;
        margin-top:10px;
        margin: 10px
 
    }

    .select2{
        width: 200px;
        margin-top:10px;
        margin: 10px
    }

    .select3{
        width: 200px;
        margin-top:10px;
        margin: 10px
    }
}

@media screen and (max-width: 1000px){

    .inputSearch{
        width: 600px;
    }

    .contenedorSelect{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: -50px;
    }

    .select1{
        width: 150px;
        margin: 10px
    }

    .select2{
        width: 150px;
        margin: 10px
    }

    .select3{
        width: 150px;
        margin: 10px
    }
}

@media screen and (max-width: 815px){

    .inputSearch{
        width: 400px;

    }
}

@media screen and (max-width: 722px){

    
    .containerSlider{
        display: none;
    }

    
    .contenedorSearch{
        text-align: center;
        width: 100%;

    }

    .buttonRefresh{
        margin-left: 0px;
    }

    .inputSearch{
        margin-left: -150px ;
    }

    .contenedorSelect{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: -50px;

    }

    .select1{
        width: 100px;
        margin: 10px
    }

    .select2{
        width: 100px;
        margin: 10px
    }

    .select3{
        width: 100px;
        margin: 10px
    }

}

@media screen and (max-width: 570px){
    .receta{
        margin-top: -15px;
        width: 60px;
        height: 60px;
    }
    
    .letraCreate{
        font-size: 13px;
    }
}

@media screen and (max-width: 485px){

    .buttonRefresh{
        display: none
    }

    .inputBar{
        height: 5px;
        width: 80px;
        margin-left: 90px;
    }

    .inputBar::placeholder{
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 10px
    }

    .btnSearch{
        height: 20px;
        width: 80px;
        font-size: 15px
    }


}
