.page{
  list-style-type: none;
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnListas{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(174, 191, 149 );
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    height: 35px;
    width: 35px;
}

.btnListas:hover{
  background-color: rgb(61, 61, 61);
  color: #fff;
}

.btnListas1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(174, 191, 149 ); */
  background: rgb(61, 61, 61);
  color: #fff; 
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  height: 35px;
  width: 35px;
}


